<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/01-introduction-app/src/com/aurionpro/programs/CalculateBodyMassIndexInputCmd.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.aurionpro.programs.CalculateBodyMassIndexInputCmd"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="70 1.79832"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="01-introduction-app"/>
</launchConfiguration>
