<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Assignment-03-8-24-tic-tac-toe-app/src/com/aurionpro/test/TicTacToeGameTestMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.aurionpro.test.TicTacToeGameTestMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Assignment-03-8-24-tic-tac-toe-app"/>
</launchConfiguration>
